*{
    padding:0;
    margin:0;
    font-family: Verdana;
}
  img{
     max-width: auto;
     max-height: auto;
    }
  h4{
     text-align: center;
  }
  label{
      font-size:20px;
      padding-top:15px;
  }
  .btn{
      float:right;
      width:250px;
      margin-top:20px;
      font-size:18px;
      /* padding: 10px 150px; */
      text-align: center;
  }
  .row{
      width: 600px;
      min-height: 700px;
      border: 1px solid gray;
      border-radius: 6px;
      margin:1% auto;
      padding:20px;
  }
  .covid{
      text-transform: uppercase;
      font-weight: 900;
  }
.error{
    font-size:15px; 
    color:red;
}