doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css' integrity='sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6' crossorigin='anonymous')
    link(rel='stylesheet' href='/main.css')
    title Covid Registration Form
  body
    .container
      form(name='covid_form' method="POST" action='/hassan')
        
        .row.toprow
          .col-md-12
          img(src="/form-header-image.png", alt="Covid Registration Form")
          .col.col-md-12
            h3 Ministry of Health
            h3.covid Covid-19 (Corona Virus)
            h3 Virus -Test Registration Form
            
          .col-md-6
            label Surname
            input.form-control(name='surname' type='text')
            span#surerr.error
          .col-md-6
            label Given Name
            input.form-control(name='first_name' type='text')
            span#fnamerr.error
          .col-md-6
            label Date of Birth
            input.form-control(name='dob' type='date')
            span#daterr.error
          .col-md-6
            label Place of Residence
            input.form-control(name='residence' type='text')
            span#reserr.error
          .col-md-6
            label Occupation
            input.form-control(name='occupation' type='text')
            span#occErr.error
          .col-md-6
            label Nationality
            input.form-control(name='nationality' type='text')
            span#naterr.error
          .row
            label Gender
            .col-md-6
              label Male
              input(type='radio' name='gender' value='male')
            .col-md-6
              label(for='female') Female
              input(type='radio' name='gender' value='female')
            span#generr.error
          .col-12
            select(name='category' id='')
              | Category
              option(selected='') --Select Category--
              option(value='1') One
              option(value='2') Two
            span#caterr.error
          button.btn-primary.rounded.col-md-6.pull-right(type='submit') Register
    script(src='/main.js')
