* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  background-image: url(./images/form-header-image.png);
}
nav {
  width: 100%;
}
ul {
  width: 80%;
  margin: 0, auto;
  padding: 0;
}
ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}
ul li:hover {
  background: orange;
}
ul li a {
  color: #fff;
  text-decoration: none;
}

.toggle {
  width: 100%;
  padding: 20px 0px;
  background: #262626;
  display: none;
}

/*hamburger*/
.toggle span {
  display: block;
  width: 35px;
  height: 3px;
  right: 2%;
  background: #fff;
  position: absolute;
  top: 20px;
  transition: 0.3s;
}
.toggle span:before {
  content: "";
  top: -10px;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: 0.3s;
  position: absolute;
}

.toggle span:after {
  content: "";
  top: 10px;
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  transition: 0.3s;
}
.toggle.togle span {
  background: transparent;
}
.toggle.togle span:before {
  top: 0;
  transform: rotate(45deg);
}
.toggle.togle span:after {
  top: 0;
  transform: rotate(-45deg);
}
/* end of hamburger*/

@media (max-width: 768px) {
  .toggle {
    display: block;
  }
  ul {
    width: 100%;
    display: none;
  }
  ul li {
    display: block;
    text-align: center;
  }
  .active {
    display: block;
  }
}
